body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111111;
}

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 45px;
}

body::-webkit-scrollbar-track {
    background-color: #616161;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #a078bb;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

.logo{
    height: 50px;
    cursor: pointer;
}

.header {
    color: #32B9CD;
    border-bottom: 3px solid #9455bf;
    padding: 10px 0;
    background-color: #111111;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #9455bf;
    cursor: pointer;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: #9455bf;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #9455bf;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 10em;
    height: 2em;
    line-height: 2;
    background: #111111;
    overflow: hidden;
    border-radius: .25em;
}


.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #b7a6c2;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #616161;
}

/* TERMINO DO HEADER */

.fundo {
    padding: 2rem 0 5rem 0;
    color: white;
    font-family: monospace;
    font-size: xx-large;
    background-color: #222222; 
    border-bottom: 20px dashed whitesmoke;
    
}

.reportagem {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.reportagem img {
    width: 700px;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.reportagem .titulo {
    text-align: center;
    font-weight: 700;
    color: #9455bf;
    text-shadow: 1px 1px 1px black;
}

.reportagem span {
    text-align: left;
    color: #ffffff;
    font-size: x-large;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.reportagem div {
    width: 65%;
    margin: 2rem 0;
    color: #cfc868;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    
}

.reportagem span a {
    color: #cfc868;
}

iframe {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* TERMINO DA REPORTAGEM */

/* COMEÇO DA INDICACAO */

.noticias {
    padding: 2rem 0 5rem 0;
    color: white;
    font-family: monospace;
    font-size: xx-large;
    background-color: #222222; 
}

.noticiasCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.noticiasCards h2 {
    width: 100%;
    font-family: monospace;
    color: #9455bf;
    text-shadow: 1px 1px 1px black;
}

.noticiasCards a{
    margin-bottom: 2px;    
}

.card {
    width: 200px;
    height: 400px;
    margin: 3rem 0 2rem 3rem;
    transition: 1s;
    color: white;
    cursor: pointer;
}

.card .raziel {
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../assets/Icons/soulposter.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card .gow {
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../assets/Icons/godofwar.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card .arcane {
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../assets/Icons/Caitlyn.jpg");
    background-position: 83%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card .bloodborne {
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../assets/Icons/blood.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}   

.card .epic {
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../assets/Icons/epicwall.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card .terraria {
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../assets/Icons/terraria.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card .descricao {
    width: 100%;
    height: 30%; 
    font-size: 70%; 
    font-weight: 500;
    font-style: italic;
}

.card:hover {
    transform: scale(1.2);
    font-weight: 900;
    font-style: italic;
    color: #cfc868;
}

/* TERMINO DA INDICACAO */




/* FOOTER */
.footer {
    background-color: #111111;
    height: 150px;
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    border-top: 3px solid #9455bf;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social {
    height: 80px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.social a {
height: 100%;
}

.social img {
    height: 100%;
    cursor: pointer;
    transition: 0.2s;
}

.social img:hover {
    transform: scale(1.1);
}

