select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #9455bf;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    height: 2em;
    line-height: 2;
    background: #111111;
    overflow: hidden;
    border-radius: .25em;
}


.select::after {
    content: '\25BC';
    position: relative;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #b7a6c2;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #616161;
}
