body{
    padding: 0;
    margin: 0;
    background-color: #000;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.header{
    color: #32B9CD;
    border-bottom: 3px solid #32B9CD;
   
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.selecionado{
    font-weight: bold;
}
.navbar{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}
.header a {
color: #32B9CD;
text-decoration: none;
}

.banner{
color:#ffffff;
height: 500px;
background-image: url("../lista06-resolucao/assets/images/bg-jelly-fish-para-home.png");
background-size: cover;
background-repeat: no-repeat;
}

.banner .container{
height: 500px;
display: flex;
align-items: center;
}

.banner p{
    width: 50%;
    margin: 0;
    padding: 0;
    width: 200px;
    font-size: 36px;
    margin-left: 350px;
    font-family: 'Courier New', Courier, monospace;
}

.social{
background-color: #e5e5e5;
padding: 50px 0;
}

.social .container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.social h2 {
display:flex ;
padding: 20px;
background-color: #ffffff;
border-radius: 20px;
align-self:center;
justify-self: center;
text-align: center;
color: #e6005a;
margin: 0;

}

.social .boxes{
    display: flex;
}

.social .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
}

.social .box img{
    width: 150px;
align-self: center;
}

.social .titulo{
    display: flex;
justify-content: center;
margin-bottom: 50px;
}

.footer{
    background-color: #32B9CD;
    height: 150px;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}   

.footer .container{
    display: flex;
    justify-content: center;
align-items: center;

}

h4{
    margin: 0;
    padding: 0;
}